# .gitignore

*.pyc
__pycache__
*.sqlite3
.env
venv/
.venv/
env/
ENV/
logs/
media/
db.sqlite3
manage.py
local_settings.py
*.log
*.pot
*.mo
*.po
*.egg-info/
*.egg
dist/
build/
*.whl
*.tar.gz
pip-selfcheck.json
.idea/
.vscode/
*.suo
*.user
*.sln
*.tac
*.nupkg
*.nuget
*.iml
*.ipr
*.iws
*.sublime-project
*.sublime-workspace
*.DS_Store
Thumbs.db