{% extends "base.html" %}
{% block title %}Добавить товар{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>Добавить товар</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ product_form.as_p }}
        {{ image_form.as_p }}

        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
</div>
{% endblock %}